.dropdown{
    background-color: rgba(255, 255, 255, 0);
}
.dropdown button{
    width: 120%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    padding: 8px 0px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.158);
    font-size: 0.8rem;
    color: gray;
}
#fil{
    border-radius: 5px;
}
.dropdown button i{
    color: gray;
    margin-top: 2px;
    animation: translate 200ms ease-in-out;
}
.drop{
    margin-top: 5px;
    border-radius: 5px;
    border: none;
    visibility: hidden;
    position: absolute;
    width: 100%;
}
.drop a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.555);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.on{
    visibility: visible;
}


