.App {
  /* display: grid;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  grid-template-rows: calc(15vh+1fr) calc(85vh+1fr) 1fr;
  grid-template-areas: 
  'Header'
  'Main'
  'Footer'; */
}

@media (min-width: 700px) {
  .App {
    /* display: grid;
    width: 100%;
    min-height: 100vh;
    grid-template-rows: 12vh 82vh 1vh;
    grid-template-areas: 
    'Header'
    'Main'
    'Footer'; */
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}








