/*                                        DESKTOP VIEW                                           */
#Cards{
    margin-top: 35px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin-right: 5px;
    flex-direction: column;
    box-sizing: content-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
    width: 20%;
    cursor: pointer;
}
#Cards div{
    height: 55%;
}
#Cards img{
    width: 100%;
    height: 100%;
}
#Cards ul{
    margin-top: 12px;
    list-style: none;
}
#Cards ul li{
    padding: 3px 0px;
    font-size: 0.8rem;
}

/*                                          MOBILE VIEW                                            */  

@media (max-width:770px) {
    #Cards{
        margin-top: 35px;
        background-color: white;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.336);
        width: 100%;
    }
    
}
