/*                                      MOBILE VIEW                                     */  
#form-busca{
    display: flex;
    /* align-items: center; */
    padding: 2px 0px;
    width: 85%;

}
#form-busca div{
    display: flex;
    align-items: center;
}
#form-busca div i{
    padding: 0px 5px;
    color: gray;
}
#form-busca input{
    width: 100%;
    border: none;
    padding: 8px 5px;
    font-size: 0.8rem;
    outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.007);
    color: rgb(128, 128, 128);
    border-radius: 2px;
}

/*                                      DESKTOP VIEW                                     */ 

@media (min-width: 768px) {
    #form-busca{

    }
}
