/*                                    MOBILE VIEW                                                   */
.Main{
    background-color: rgba(128, 128, 128, 0.089);
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

#buscar{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.158);
    border-radius: 5px;
}

#filtros{
    width: 60%;
    margin-top: 20px;
    padding: 3px;
}

/* #lista{
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
} */
/*                                    DESKTOP VIEW                                                  */

@media (min-width:501px) {
    .Main{
        background-color: rgba(128, 128, 128, 0.089);
        grid-area: Main;
        display: grid;
        align-items: flex-start;
        grid-template-columns: 10% 85% 5%;
        padding: 20px 0px;
    }
    #buscar{
        width: 35%;
        font-size: 0.5rem;
        grid-column-start: 2;
    }

    #filtros{
        width: 200%;
        margin-top: 5px;
        margin-left: -200px;
        padding: 3px;
        grid-column-start: 3;
    }

    #lista{
        grid-column-start: 2;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }
}


